<app-page-header [title]="title"></app-page-header>
<div class="d-flex justify-content-end" style="margin: 30px;">
    <button mat-raised-button color="primary" style="font-size:14px; font-weight:bold" (click)="openDialog()">New doctor</button>
</div>

  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <!-- <mat-card-title>Top Paying Clients</mat-card-title> -->
      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="dataSource" class="w-100 table-borderless">
          <!-- Position Column -->
          <ng-container matColumnDef="profile">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Name
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <!-- <img
                  [src]="element.imagePath"
                  alt="users"
                  width="50"
                  class="rounded-circle"
                /> -->
                <div class="m-l-16">
                  <h6 class="mat-subtitle-1 f-s-14 f-w-700">
                    {{ element.uname }}
                  </h6>
                  <!-- <span class="mat-body-1 f-s-14">
                    Dr. {{ element.position }}
                  </span> -->
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="hrate">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Title
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1 f-w-500">
              Doctor
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="exclasses">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Age
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="mat-body-1 text-success"
            >
            {{ element.classes }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Gender
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-template [ngIf]="element.priority == 'Available'">
                <span
                  class="bg-light-success text-success rounded f-w-600 p-y-6 p-x-16 f-s-14"
                >
                  {{ "Male" | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'In Class'">
                <span
                  class="bg-light-success text-success rounded f-w-600 p-y-6 p-x-16 f-s-14"
                >
                  {{ "Male" | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'Absent'">
                <span
                  class="bg-light-success text-success rounded f-w-600 p-y-6 p-x-16 f-s-14"
                >
                  {{ "Male" | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'On Leave'">
                <span
                  class="bg-light-warning text-warning rounded f-w-600 p-y-6 p-x-16 f-s-14"
                >
                  {{ "Female" | titlecase }}
                </span>
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>