<div class="blank-layout-container justify-content-center align-items-center" style="background: linear-gradient(rgb(36, 188, 253,0.1), rgb(36, 188, 253,0.1)), url('./assets/images/med7.jpg') no-repeat left top;background-size: cover;width:100%; height:100vh">
    <div class="card-profile">
        <div class="small-card">
            <div class="inner-circle">

            </div>
            <div class="text-profile text-center">
                <p>Dr Ester Lema</p>
            </div>
        </div>
        <div class="small-card2">
            <div class="heading">
                <h2>Personal Informations</h2>
            </div>
            <div class="info-box">
          
                <div class="row d-flex justify-content-center" style="margin-left: 40px; margin-top:10px">
                    <span class="col-lg-6" style="font-weight: bold;">Name :</span>
                    <span class="col-lg-6">Ester Lema</span>
                </div>
                <div class="row d-flex justify-content-center" style="margin-left: 40px; margin-top:10px">
                    <span class="col-lg-6" style="font-weight: bold;">Designation :</span>
                    <span class="col-6">Doctor (Dr)</span>
                </div>
                <div class="row d-flex justify-content-center" style="margin-left: 40px; margin-top:10px">
                    <span class="col-lg-6" style="font-weight: bold;">Gender :</span>
                    <span class="col-lg-6">Female</span>
                </div>
                <div class="row d-flex justify-content-center" style="margin-left: 40px; margin-top:10px">
                    <span class="col-lg-6" style="font-weight: bold;">Email :</span>
                    <span class="col-lg-6">esterlema023@gmail.com</span>
                </div>
            </div>
            
        </div>
        <div class="big-inner-card">
            
        </div>
       
    </div>
</div>
    