<app-page-header [title]="title"></app-page-header>
      <div class="row gap-10">
        <div class="col-lg-3 col-md-12 card-body" style="padding: 20px;">
          <h2>Personal Details</h2>
          <div class="" style="margin: 5px;">
              <div class=" custom-border-bottom">
                  <h4>Name</h4>
                  <span>ESTER  J  LEMA</span>
              </div>
              <div class="custom-border-bottom">
                  <h4>Phone</h4>
                  <span>0714067976</span>
              </div>
              <div class="custom-border-bottom">
                  <h4>Gender</h4>
                  <span>Female</span>
              </div>
              <div class="custom-border-bottom">
                  <h4>Weight</h4>
                  <span>67.9Kg</span>
              </div>
              <div class="custom-border-bottom">
                  <h4>Age</h4>
                  <span>21</span>
              </div>
              <div class="custom-border-bottom">
                <h4>Height</h4>
                <span>180cm</span>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 card-body">
          <div class="" style="margin-bottom:15px; margin-top:10px">
            <h2 style="margin-left: 10px;">Patient Diseases</h2>
            <div class="row" style="margin: 10px;">
              <div class="col-lg-6">
                <div class="card" >
                  <a class="card1" routerLink="/dashboard/diseas-info/1">
                   <p style="font-weight: bold; font-size:20px">TB</p>
                   <p class="small">Card description with lots of great facts and interesting details.</p>
                   <div class="go-corner">
                     <div class="go-arrow">
                       →
                     </div>
                   </div>
                 </a>
               </div>
              </div>
              <div class="col-lg-6">
                <div class="card" routerLink="diseas-info/1">
                  <a class="card1" routerLink="/dashboard/diseas-info/1">
                   <p style="font-weight: bold; font-size:20px">Covid 19</p>
                   <p class="small">Card description with lots of great facts and interesting details.</p>
                   <div class="go-corner" href="#">
                     <div class="go-arrow">
                       →
                     </div>
                   </div>
                 </a>
               </div>
              </div>
              <div class="col-lg-6">
                <div class="card" routerLink="diseas-info/1">
                  <a class="card1" routerLink="/dashboard/diseas-info/1">
                   <p style="font-weight: bold; font-size:20px">HIV</p>
                   <p class="small">HIV (human immunodeficiency virus) is a virus that attacks the body’s immune system. If HIV is not treated, it can lead to AIDS (acquired immunodeficiency syndrome).</p>
                   <div class="go-corner" href="#">
                     <div class="go-arrow">
                       →
                     </div>
                   </div>
                 </a>
               </div>
              </div>
              <div class="col-lg-6">
                <div class="card" routerLink="diseas-info/1">
                  <a class="card1" routerLink="/dashboard/diseas-info/1">
                   <p style="font-weight: bold; font-size:20px">Malaria</p>
                   <p class="small">Malaria is a life-threatening disease spread to humans by some types of mosquitoes. It is mostly found in tropical countries. It is preventable and curable. </p>
                   <div class="go-corner" href="#">
                     <div class="go-arrow">
                       →
                     </div>
                   </div>
                 </a>
               </div>
              </div>
            
              
        </div>
          </div>
        </div>
      </div>

    

