<div class="blank-layout-container justify-content-center align-items-center" style="background: linear-gradient(rgba(59, 121, 255, 0.5), rgba(73, 255, 225, 0.4)), url('./assets/images/med1.jpg') no-repeat left top;background-size: cover;width:100%; height:100vh">
  <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
    
      <div class="col-lg-12 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
            <div class="text-center" >
              <a routerLink="/dashboard" class="d-flex justify-content-center align-items-center" style="text-decoration: none;">
                <img  
                  src="./assets/images/logos/logo.png"
                  width="50"
                  height="50"
                  class="align-middle m-2"
                  alt="logo"
                />
                <span class="p-1 fw-bold" style="font-size: 12px; font-weight:bold; color:rgb(0, 0, 0)">AI MEDICAL PRESCRIPTION ERROR REDUCTION SYSTEM </span>
              </a>
            </div>  
            <div class="d-flex justify-content-center" style="font-size: 24px; letter-spacing:0.15rem; font-weight: bold;margin-top:10px">
                LOGIN
            </div>
            <form class="m-t-30">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Username</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="text" [(ngModel)]="emp_id" name="emp_id"/>
              </mat-form-field>
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Password</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" [(ngModel)]="password" name="password"/>
              </mat-form-field>
  
              <div class="d-flex align-items-center m-b-12">
                <mat-checkbox color="primary">Remember this Device</mat-checkbox>
                <a
                  routerLink='/'
                  class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                  >Forgot Password ?</a
                >
              </div>
              <button mat-flat-button color="primary" class="w-100" (click)="login()">
                Sign In
              </button>

            </form>
            <!-- <span class="d-block f-w-500 text-center m-t-24"
              >New to Spike?
              <a
                routerLink='/authentication/register'
                class="text-decoration-none text-primary f-w-500 f-s-14"
              >
                Create an account</a
              >
            </span> -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  