/* You can add global styles to this file, and also import other style files */
.mat-elevation-z8 {
    box-shadow: 0 6px 6px rgba(37, 83, 185, 0.1) !important;
}
.card-body {
    padding: 2px;
    background-color: rgb(253, 254, 255);
    box-shadow: 0 6px 8px rgba(37, 83, 185, 0.1);
    border-radius: 6px;
  
  }